<html>
	<head >
		<link href="/lib/views/css/body.css" rel="stylesheet"type="text/css"/>
    </head>
	<body >
		user -edit <hr />
		
		<form method="post" title="" action="/lib/user/update">
			       <input type="text" value="$updateUser.id" readonly="readonly">
                    <div>loginName</div>
					<input type="text" name="loginName" value="$updateUser.loginName"><br />
						
					<div>name</div>
					<input type="text" name="name" value="$updateUser.name"><br />
						
					<div>password</div>
					<input type="password" name="password" value="$updateUser.password"><br />
					<div>createTime</div>	
					<input type="text" name="createTime" value="$updateUser.createTime"><br />
					<div></div>
					<input type="submit" value="add"/><br />
			</form>
	
    </body>
</html>