<html>
	<head >
			<link href="/lib/views/css/body.css" rel="stylesheet"type="text/css"/>
    </head>
	<body >
		my book login 
		<hr />
            <form method="post" title="" action="/lib/login">
                    <div>loginName</div>
					<input type="text" name="loginName"><br />
					<div>password</div>
					<input type="password" name="password"><br />
					<div></div>
					<input type="submit" value="login" style="height:25px;width:150px;"/><br />
			</form>
    </body>
</html>